.wrapper {
  height: 100vh;
}

.header {
  background-color: #16181f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  padding: 15px;
}

.reactLogo {
  height: 60px;
  width: 60px;
}


.reactLogoFooter {
  height: 15px;
  width: 15px;
}

.footer {
  text-align: center;
  background-color: #16181f;
  color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
